body{
    background-image:url('../media/court.jpg');
    background-repeat: no-repeat;
    background-size: 950px auto;
    background-color: white;
    font-family: "Abhaya Libre", Arial, Helvetica, sans-serif;
}
.player{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: none;
    height: auto;
    width: 125px;
    z-index: 1;
}
#championship{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 50px;
    z-index: 1;
}
#score{
    background: transparent;
    color: white;
    font-size: 1.5em;
    position: fixed;
    top: 5px;
    left: 5px;
}
#court-area{
    width:928px;
    height: 525px;
}
.home{
    position: fixed;
    top: 5px;
    right: 10px;
    padding: 3px 10px;
    font-size: 36px;
    z-index: 1;
    background-color: white;
    opacity: 1;
}
#returnHome{
    color: #4286f4;
}
#returnHome:hover{
    color: #282828;
}